name: CI/CD for .NET Solution (Local Docker)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted  # Chạy trên VPS Linux

    env:
      IMAGE_NAME: ${{ secrets.DOCKER_IMAGE_NAME }}
      DOCKER_PORT: ${{ secrets.DOCKER_PORT }}
      APP_PORT: ${{ secrets.APP_PORT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Set up environment for .NET installation
        run: |
          echo "DOTNET_ROOT=$HOME/.dotnet" >> $GITHUB_ENV
          echo "$HOME/.dotnet:$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:v1 .

      - name: Stop and Remove Old Container (if exists)
        run: |
          docker stop $IMAGE_NAME || true
          docker rm $IMAGE_NAME || true

      - name: Run Docker Container (Inject Connection string Config)
        run: |
          docker run -d --name $IMAGE_NAME \
            -e ConnectionStrings__SchoolMedicalSystemContext="${{ secrets.CONNECTIONSTRING }}" \
            -p $DOCKER_PORT:$APP_PORT $IMAGE_NAME:v1
